<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langjialing.helloworld.mapper.UserMapper">
    <update id="updateUsers" parameterType="java.util.List">
        update `user` for each (item in items)
            <set>
                <if test="item.userName != null and item.userName != '' ">
                    user_name = #{item.userName},
                </if>
                <if test="item.password != null and item.password != '' ">
                    password = #{item.password},
                </if>
                <if test="item.age != null and item.age != '' ">
                    age = #{item.age},
                </if>
            </set>
            where user_name = #{item.userName}
    </update>
    <update id="updateUsersInfo">
        update `user` set
            age = #{age}
            where <foreach collection="usersInfo" item="userInfo" index="index" separator=" or ">
                 user_id = #{userInfo.num}
            </foreach>
    </update>

    <select id="getUserList" parameterType="com.langjialing.helloworld.model.entity.UserEntity"
            resultType="com.langjialing.helloworld.model.entity.UserEntity">
        select user_name, password, age from `user`
            <if test=" age != null and age != '' ">
                where age = #{age,jdbcType=INTEGER}
            </if>
            <if test=" userName != null and userName != '' ">
                where user_name = #{userName,jdbcType=VARCHAR}
            </if>
    </select>
    <select id="getUserById" resultType="com.langjialing.helloworld.model.entity.UserEntity">
        select user_name, password, age from `user` where user_id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.langjialing.helloworld.model.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
        insert into `user` (user_name, password, age)
        values (#{userName}, #{password}, #{age})
    </insert>

</mapper>